
# Plugin docs

sphinx-docs/index.rst
sphinx-docs/plugins/*
sphinx-docs/plugins/*/
!sphinx-docs/plugins/.gitkeep

*.pyc
*.crt
*.exe
*.pyd
*.DS_Store
*.spec
*.pstat
*.tokens
*__pycache__*
.history/*
.idea/*
.venv/
venv/
.env
sphinx-docs/_build
sphinx-docs/_generated
.tox/

# coverage reports
htmlcov/
.coverage
.coverage.*
*,cover
_*/
!_static/
